@import "variables.scss";
@import "bootstrap.scss";

body {
    overflow-y: overlay;
}

footer {
    background-color: $background-tertiary;
    font-family: $font-family-code;
}

.emoji {
    flex: 1 0 0;
    min-width: 200px;
    max-width: 250px;
    transition: all 0.3s;

    .card-header {
        height: 100%;
    }

    .card-body {
        padding: 0.5rem;

        div:nth-child(1) {
            height: 40px;
            margin: 0 0 5px 0;

            img {
                max-height: 40px;
            }
        }
    }
}

.sticker {
    flex: 1 0 0;
    min-width: 200px;
    max-width: 250px;
    transition: all 0.3s;

    .card-header {
        height: 100%;
    }

    .card-body {
        padding: 0.5rem;

        div {
            height: 128px;
            margin: 0 0 5px 0;

            img {
                max-height: 128px;
            }
        }
    }

}