@import "custom.scss";
@import "bootstrap.scss";

footer {
    background-color: $background-tertiary;
}

.emoji {
    flex: 0 0 auto;
    min-width: 200px;
    // outline: var(--borders-night-dark) solid 2px;
    transition: all 0.3s;

    .card-body {
        padding: 0.5rem;
    }

    img {
        height: 40px;
        margin: 5px;
    }
}